<div class="col-12 p-0" id="main">
  <div *ngFor="let chartGroup of statDefinitionGroups" class="card custom-card w-100 mb-3">
    <div class="card-header">

      <table>
        <tbody>
        <tr *ngFor="let chart of chartGroup.members">
          <td class="pr-3">
            <div [ngStyle]="{color: chart.color}" class="font-weight-bold">{{chart.display}}</div>
          </td>
          <td>
            <div class="pw-subtext-1 custom-text-gray">{{chart.description}}</div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="card-body d-flex">


      <app-stats-chart [definitions]="chartGroup.members" [results]="chartGroup.results" class=" w-100"
                       style="height: 300px"></app-stats-chart>

    </div>

    <div class="card-footer slim-card-edge"></div>
  </div>
</div>
