<div class="d-flex align-items-center">
  <div *ngIf="showImg" [ngClass]="getImgSizeClass()" class="img-container text-center mr-1">
    <img [src]="item | itemFormat:'icon'" alt="...">
  </div>

  <div class="custom-text-gray-lo">

    <span *ngIf="clickable" [ngClass]="getPrimaryClasses()" [queryParams]="{id: item.id}" [routerLink]="['/item']">
      <span>{{item | itemFormat:'name'}}</span>
      <span *ngIf="item.type" [ngClass]="getSecondaryClasses()">, {{item.type}}</span>
    </span>

    <span *ngIf="!clickable" [ngClass]="getPrimaryClasses()">
      <span>{{item | itemFormat:'name'}}</span>
      <span *ngIf="item.type" [ngClass]="getSecondaryClasses()">, {{item.type}}</span>
    </span>

    <span *ngIf="hasProperties()" class="pw-subtext-1 custom-text-gray p-0">
      {{item | itemFormat:'properties'}}
    </span>
  </div>

</div>
