<ngx-charts-line-chart [results]="results"
                       [scheme]="colorScheme"
                       [showGridLines]="true"
                       [xAxisTickFormatting]="emptyTickFormatting"
                       [xAxis]="true"
                       [curve]="curve"
                       [yAxis]="true">
  <ng-template #tooltipTemplate let-model="model">
    <div class="p-2">
      <h5>{{model.name | date:'medium'}}</h5>

      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <div [ngStyle]="{color: model.extra.color}" class="d-inline-block pr-2">
            {{model.series | titlecase}}
          </div>
        </div>
        <div>{{model.value | number:'1.0-2'}}</div>
      </div>

    </div>
  </ng-template>

  <ng-template #seriesTooltipTemplate let-model="model">
    <div class="p-2">
      <h5>{{model[0].name | hoursAgo}}</h5>

      <div class="pt-2">
        <div *ngFor="let m of model" class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div [ngStyle]="{'background-color': m.color}" class="colorbox"></div>
            <div [ngStyle]="{color: m.color}" class="d-inline-block pr-2">
              {{m.series}}
            </div>
          </div>
          <div>{{m.value | number:'1.0-2'}}</div>
        </div>
      </div>

    </div>
  </ng-template>
</ngx-charts-line-chart>
