<div class="card">
  <div class="card-header slim-card-edge"></div>

  <ul class="list-group list-group-flush">
    <li *ngFor="let element of elements" class="list-group-item p-0">
      <a [routerLink]="element.href"
         [title]="element.display" class="d-flex align-items-center p-1 text-reset">
        <div class="img-container-sm d-flex justify-content-center align-items-center mr-2">
          <img [src]="element.icon" alt="..." class="img-fluid">
        </div>
        <span class="nowrap">{{element.display}}</span>
      </a>
    </li>
  </ul>

  <div class="card-footer slim-card-edge"></div>
</div>
