<div class="row flex-fill">
  <div class="col-12">
    <div class="card">
      <div class="card-header"></div>

      <div *ngIf="!items" class="card-body text-center">
        <div class="spinner-border"></div>
      </div>

      <div *ngIf="items">
        <div class="card-body">
          <app-search></app-search>
        </div>

        <hr/>

        <div class="card-body pt-0">

          <app-prices-table [items]="items"></app-prices-table>

        </div>
      </div>

      <div class="card-footer"></div>
    </div>
  </div>
</div>
