<div class="row mb-4">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <div class="d-flex align-items-center">
          <pw-d3-spark [size]="[60, 30]"></pw-d3-spark>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <ng-template #popContent>Hello, <b>james</b>!</ng-template>
        <ng-template #popTitle>Fancy <b>content!!</b></ng-template>
        <div [ngbPopover]="popContent" [popoverTitle]="popTitle" triggers="mouseenter:mouseleave">
          Hover over me!
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <pw-tooltip [display]="'Hover me'">
          <h3>Lorem Ipsum</h3>
          <div>Dolor sit amet, consectetur adipiscing elit.</div>
        </pw-tooltip>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <pw-sort-arrow (stateChange)="log($event)" [display]="'sort arrow'"></pw-sort-arrow>
      </div>
    </div>
  </div>
</div>
