<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand text-reset" routerLink="/">
    <img src='https://poe.watch/assets/img/favico.png' class='d-inline-block align-top mr-2' alt="...">
    PoeWatch
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let nav of navLinks" class="nav-item nav-link">
        <a routerLink="/{{nav.href}}" class="text-reset">{{nav.display}}</a>
      </li>
    </ul>
  </div>
</nav>
