<nav class="navbar navbar-expand-sm pw-navbar">
  <a class="navbar-brand text-reset" routerLink="/">
    <img src='assets/favicon.png' class='d-inline-block align-top mr-2' alt="Logo">
    PoeWatch
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let route of getFilteredRoutes()" class="nav-item nav-link">
        <a routerLink="{{route.path}}" class="pw-nav-link" [title]="route.data.comment"
           [class.active]="isCurrentRoute(this.router.url, route.path)">
          {{route.data.navTitle}}
          <span *ngIf="route.data.isNew" class="badge badge-success" title="This page was added recently">New</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
