.pw-tt-container {
  position: relative;
  display: inline-block;
}

.pw-tt-container .pw-tt {
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #ddd;
  background-color: #222;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 9999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  padding: 8px;
  transition: all 100ms ease;
  opacity: 0;
  visibility: hidden;
}

.pw-tt-container:hover .pw-tt {
  visibility: visible;
  opacity: 1;
}

.pw-tt-container .pw-tt i {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.pw-tt-container .pw-tt i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #222;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
