<table *ngIf="entries" class="table table-sm table-hover table-striped mb-0 table-responsive">
  <thead>
  <tr>
    <th *ngFor="let col of tableColumnHeaders" [colSpan]="col.colspan"
        [ngClass]="{'d-none': col.hideOnMd, 'd-md-table-cell': col.hideOnMd, 'w-100': col.fullWidth}">
          <span [title]="col.tooltip">
            <pw-sort-arrow (stateChange)="stateChange(col.sortKey, $event)" *ngIf="col.sort"
                           [display]="col.display"></pw-sort-arrow>
            <span *ngIf="!col.sort">{{col.display}}</span>
          </span>
    </th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of entries">
    <td class="d-flex align-items-center">
      <pw-item [clickable]="true" [item]="item" [showImg]="true" [size]="'sm'"></pw-item>
    </td>


    <td>
      <div class="pricebox-container">
        <div class="pricebox pw-subtext-1 font-weight-bold">
        <span class="img-container img-container-xs text-center mr-1">
          <img [src]="appConstants.CHAOS_ICON" alt="...">
        </span>
          {{item.mean | number:'1.0-2'}}
        </div>
        <div class="pricebox pw-subtext-1 font-weight-bold">
        <span class="img-container img-container-xs text-center mr-1">
          <img [src]="appConstants.EXALTED_ICON" alt="...">
        </span>
          {{item.exalted | number:'1.0-2'}}
        </div>
      </div>
    </td>


    <td class="text-center p-0 nowrap">
      <div class="d-flex align-items-center">
        <pw-d3-spark [data]="item.history" [size]="[60, 30]"></pw-d3-spark>
      </div>
    </td>
    <td class="text-center p-0 nowrap">
      <span [style.color]="color(item.change)" class="pw-subtext-1 font-weight-bold custom-text-gray-lo mx-2">
        {{item.change | number:'1.0-0'}}%
      </span>
    </td>
    <td class="text-center p-0">
        <span class="pw-subtext-1 font-weight-bold custom-text-gray-lo">
          {{item.current}}
        </span>
    </td>
    <td class="text-center p-0">
        <span class="pw-subtext-1 font-weight-bold custom-text-gray-lo">
          {{item.daily}}
        </span>
    </td>
    <td class="text-center p-0">
        <span class="pw-subtext-1 font-weight-bold custom-text-gray-lo">
          {{item.total}}
        </span>
    </td>
  </tr>
  </tbody>
</table>
