table,
table > thead > tr > th {
  border: 0;
  vertical-align: middle;
  padding: 0 5px 0 2px;
  color: #ddd;
}

td {
  vertical-align: middle;
  padding: 0;
  border: 0;
}

td:not(:first-of-type) {
  border-left: 1px solid rgba(255, 255, 255, .05);
}

tbody > td {
  border-top: 1px rgba(0,0,0,.1);
}

tbody > tr:hover {
  background-color: rgba(0,0,0,.1);
  color: inherit;
}

.sort-column {cursor: pointer}

.pricebox {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.pricebox .sparkline {padding: 0 5px 0 0}

.pw-subtext-1 {font-size: 75%}
.custom-text-gray-lo    {color: #a1a1a1}


.pricebox-container {
  max-height: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 100px;
  padding-left: 5px;
  transition: all 0.5s ease;
}

.pricebox {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  width: 100px;
}


.pricebox:nth-child(2) {
  transform: translate(-100%, -50%);
}

.pricebox-container:hover > .pricebox:nth-child(2) {
  transform: translate(0%, -50%);
}

.pricebox-container:hover > .pricebox:nth-child(1) {
  transform: translate(100%, -50%);
}
