<div class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-header slim-card-edge"></div>
      <div class="card-body">

        <app-spinner [observable$]="faqService.faq$"></app-spinner>

        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let about of (faqService.faq$ | async)?.about">
            <h5 class="mb-3 custom-text-green-lo">{{about.title}}</h5>
            <span class=''>{{about.text}}</span>
          </li>
        </ul>

      </div>
      <div class="card-footer slim-card-edge"></div>
    </div>
  </div>
</div>
