<div *ngFor="let image of images" class="col-12 mb-3 p-0">
  <div class="card w-100">
    <div class="card-header">
      <h4 class="card-title mb-0">
        <span class="mr-2">{{image.difficulty | titlecase}} lab</span>
        <span>(</span>
        <span [ngClass]="getDateColorClass(image)">{{image.date | date:'longDate'}}</span>
        <span>)</span>
      </h4>
    </div>

    <div class="card-body p-0">
      <pw-spinner [ifValue]="image.isLoaded"></pw-spinner>

      <a [href]="image.devUrl" target="_blank" title="Open uber lab layout in new tab">
        <img (error)="error($event, image)" (load)="load($event, image)" [alt]="image.difficulty" [src]="image.devUrl"
             class="img-fluid">
      </a>
    </div>
  </div>
</div>
