<!-- Search forms -->
<div class="px-2">
  <div class='row'>

    <div *ngIf="settings.visibility.confidence" class="col-6 col-sm">
      <h4 class="nowrap">Low confidence</h4>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary">
          <input checked name="confidence" type="radio" value="false">
          <span>Hide</span>
        </label>
        <label class="btn btn-outline-secondary">
          <input name="confidence" type="radio" value="true">
          <span>Show</span>
        </label>
      </div>
    </div>


    <div *ngIf="settings.visibility.group" class="col-6 col-sm">
      <h4>Group</h4>
      <label>
        <select class="form-control custom-select">
          <option value='all'>All</option>
          <option *ngFor="let group of groups$ | async" [value]="group.id">
            {{group.display}}
          </option>
        </select>
      </label>
    </div>


    <div *ngIf="settings.visibility.league" class="col-6 col-sm">
      <h4 class="nowrap">League</h4>
      <label>
        <select (select)="leagueEmitter?.emit()" class="form-control custom-select">
          <option *ngFor="let league of (this.leagueService.entries$ | async)?.reverse()" [value]="league.name">
            {{formatLeagueDisplay(league)}}
          </option>
        </select>
      </label>
    </div>


    <div *ngIf="settings.visibility.search" class="col-6 col-sm">
      <h4>Search</h4>
      <label>
        <input (change)="searchEmitter.emit()" class="form-control" placeholder="Search" type="text">
      </label>
    </div>


  </div>
</div>
<!-- //Search forms// -->
