<div class="row">
  <div class="col-12 d-flex align-content-center">
    <h1 class="display-4 mb-4 mx-auto">Active leagues</h1>
  </div>

  <div class="col-12">
    <app-spinner [ifValue]="leagueService.entries$"></app-spinner>
  </div>
  <div *ngFor="let league of leagueService.filerLeagues(leagueService.filters.active, true) | async"
       class="col-sm-6 col-12">
    <app-leagues-element [league]="league"></app-leagues-element>
  </div>
</div>

<div class="row">
  <div class="col-12 d-flex align-content-center">
    <h1 class="display-4 mb-4 mx-auto">Ended leagues</h1>
  </div>

  <div class="col-12">
    <app-spinner [ifValue]="leagueService.entries$"></app-spinner>
  </div>
  <div *ngFor="let league of leagueService.filerLeagues(leagueService.filters.inactive, true) | async"
       class="col-lg-4 col-md-6 col-12">
    <app-leagues-element [league]="league"></app-leagues-element>
  </div>
</div>
