<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Questions someone might ask one day</div>

      <div class="card-body">
        <app-spinner [ifValue]="faqService.faq$"></app-spinner>

        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let faq of (faqService.faq$ | async)?.faq">
            <h5 class="mb-3 custom-text-green-lo">{{faq.title}}</h5>
            <span>{{faq.text}}</span>
          </li>
        </ul>
      </div>

      <div class="card-footer slim-card-edge"></div>
    </div>
  </div>
</div>
