<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">FAQ</div>

      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let aboutItem of aboutItems">
            <h5 class="mb-3 custom-text-green-lo">{{aboutItem.question}}</h5>
            <span class=''>{{aboutItem.answer}}</span>
          </li>
        </ul>
      </div>

      <div class="card-footer slim-card-edge"></div>
    </div>
  </div>
</div>
