<app-header></app-header>


<div class="container-fluid max-width-xl my-4 pb-4">

  <div class="row d-block d-lg-none">
    <div class="col">
      <app-sidebar [direction]="'horizontal'"></app-sidebar>
    </div>
  </div>

  <div class="row">

    <div class="col-2 d-none d-lg-block">
      <app-sidebar [direction]="'vertical'"></app-sidebar>
    </div>

    <div class="col-12 col-lg-10">
      <app-title *ngIf="pageTitle" [title]="pageTitle"></app-title>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>


<app-footer></app-footer>
