<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog pw-modal-lg" role="document">

    <div class="modal-content w-100">
      <div class="modal-header d-flex align-items-center">
        <div class="row d-flex justify-content-between w-100 m-0">
          <div class="col-12 col-sm-8 d-flex align-items-center p-0 mb-3 mb-sm-0">
            <h4 id="modal-name" class="mb-0"></h4>
          </div>

          <div
            class="col-12 col-sm-4 d-flex align-items-center p-0 ml-3 ml-sm-0 justify-content-start justify-content-sm-end">
            <select class="form-control form-control-sm w-auto mr-2" id="modal-leagues"></select>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="modal-body-content" class="modal-body">
        <div class="container-fluid p-0">
          <div class="row m-0">
            <div class="col-12 col-sm-6 mb-2 mb-sm-0 d-flex">
              <table class="table table-sm details-table table-striped p-0">
                <tbody>
                <tr>
                  <td class="nowrap w-100">Mean</td>
                  <td class="nowrap">
                      <span class="img-container img-container-xs d-inline-block text-center mr-1">
                        <img
                          src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png?scale=1&amp;w=1&amp;h=1">
                      </span>
                    <span id="modal-mean"></span>
                  </td>
                </tr>
                <tr>
                  <td class="nowrap w-100">Median</td>
                  <td class="nowrap">
                      <span class="img-container img-container-xs d-inline-block text-center mr-1">
                        <img
                          src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png?scale=1&amp;w=1&amp;h=1">
                      </span>
                    <span id="modal-median"></span>
                  </td>
                </tr>
                <tr>
                  <td class="nowrap w-100">Mode</td>
                  <td class="nowrap">
                    <span class="img-container img-container-xs d-inline-block text-center mr-1">
                      <img
                        src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyRerollRare.png?scale=1&amp;w=1&amp;h=1">
                    </span>
                    <span id="modal-mode"></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="col-12 col-sm-6 mt-2 mt-sm-0 d-flex">
              <table class="table table-sm details-table table-striped p-0">
                <tbody>
                <tr>
                  <td class="nowrap pw-100">Total amount listed</td>
                  <td class="nowrap"><span id="modal-total"></span></td>
                </tr>
                <tr>
                  <td class="nowrap w-100">Listed every 24h</td>
                  <td class="nowrap"><span id="modal-daily"></span></td>
                </tr>
                <tr>
                  <td class="nowrap w-100">Price in exalted</td>
                  <td class="nowrap">
                    <span class="img-container img-container-xs d-inline-block text-center mr-1">
                      <img
                        src="https://web.poecdn.com/image/Art/2DItems/Currency/CurrencyAddModToRare.png?scale=1&amp;w=1&amp;h=1">
                    </span>
                    <span id="modal-exalted"></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr>
          <div class="row m-0">
            <div class="col">
              <div class="d-flex flex-row">
                <h4>Past data</h4>
                <a class="cursor-pointer badge custom-text-gray-lo" data-toggle="collapse"
                   data-target="#modal-info">(?)</a>
              </div>

              <div class="collapse" id="modal-info">
                <div>
                  Mean, median and mode are all ways of calculating an average:
                  <ul class="mb-0">
                    <li><span class="pw-subtext-1 custom-text-green">Mean</span> being the sum divided by the number of elements</li>
                    <li><span class="pw-subtext-1 custom-text-green">Median</span> is the center-most element (of a sorted list)</li>
                    <li><span class="pw-subtext-1 custom-text-green">Mode</span> is the most common element in the list</li>
                  </ul>
                  Counts are defined as follows:
                  <ul class="mb-0">
                    <li><span class="pw-subtext-1 custom-text-green">Daily</span> is number of items listed in the past 24h</li>
                    <li><span class="pw-subtext-1 custom-text-green">Now</span> is the number of items currently on sale</li>
                  </ul>
                  Colors do not carry any significant meaning aside from telling the lines apart.
                </div>
              </div>

              <div class="d-flex justify-content-center mb-2">
                <div id="spinner" class="spinner-border d-none"></div>
              </div>

              <div class="ct-chart"></div>
              <div class="d-flex justify-content-center">
                <div class="btn-group btn-group-toggle mt-2" data-toggle="buttons" id="modal-radio">
                  <label class="btn btn-outline-dark p-0 px-1 active">
                    <input type="radio" name="dataset" value="1">
                    <span>Prices</span>
                  </label>
                  <label class="btn btn-outline-dark p-0 px-1">
                    <input type="radio" name="dataset" value="4">
                    <span>Counts</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer slim-card-edge"></div>
    </div>

  </div>
</div>
