<div *ngIf="id" class="row">
  <div class="col">
    <div class="card">
      <div class="card-header p-2">

        <app-spinner [ifValue]="item"></app-spinner>

        <div class="d-flex justify-content-between align-items-center">
          <app-item *ngIf="item" [item]="item" [options]="{clickable: false, showImg: true, imgSize: 'lg'}"></app-item>
          <app-reactive-input [criteria]="leagueCriteria"></app-reactive-input>
        </div>
      </div>

      <app-spinner [ifValue]="item"></app-spinner>

      <div *ngIf="item" class="card-body">

        <app-item-details [entryLeague$]="entryLeague$"></app-item-details>

        <hr/>

        <div class="row m-0">
          <div class="col">
            <div class="d-flex flex-row">
              <h4>Past data</h4>
              <a aria-expanded="false" class="cursor-pointer badge custom-text-gray-lo collapsed"
                 data-target="#modal-info" data-toggle="collapse">(?)</a>
            </div>

            <div class="collapse" id="modal-info" style="">
              <div>
                Mean, median and mode are all ways of calculating an average:
                <ul class="mb-0">
                  <li>
                    <span class="pw-subtext-1 custom-text-green">Mean</span> being the sum divided by the number of
                    elements
                  </li>
                  <li>
                    <span class="pw-subtext-1 custom-text-green">Median</span> is the center-most element (of a sorted
                    list)
                  </li>
                  <li>
                    <span class="pw-subtext-1 custom-text-green">Mode</span> is the most common element in the list
                  </li>
                </ul>
                Counts are defined as follows:
                <ul class="mb-0">
                  <li>
                    <span class="pw-subtext-1 custom-text-green">Daily</span> is number of items listed in the past 24h
                  </li>
                  <li>
                    <span class="pw-subtext-1 custom-text-green">Now</span> is the number of items currently on sale
                  </li>
                </ul>
                Colors do not carry any significant meaning aside from telling the lines apart.
              </div>
            </div>

            <div class="d-flex" style="height: 300px">
              <ngx-charts-line-chart *ngIf="multi"
                [scheme]="chart.colorScheme"
                [results]="multi"
                [xAxis]="true"
                [yAxis]="true"
                [showGridLines]="true"
                [xAxisTickFormatting]="axisTickFormatting"
                (select)="onSelect($event)">
                <ng-template #tooltipTemplate let-model="model">
                  <div class="p-2">
                    <h5>{{model.name | date}}</h5>
                    <div>{{model.series | titlecase}}: {{model.value | number:'1.0-2'}}</div>
                  </div>
                </ng-template>

                <ng-template #seriesTooltipTemplate let-model="model">
                  <div class="p-2">
                    <h5>{{model[0].name | date}}</h5>
                    <div *ngFor="let m of model">
                      <div class="d-flex justify-content-between">
                        <div class="align-items-center">
                          <div class="colorbox" [ngStyle]="{'background-color': m.color}"></div>
                          <div class="d-inline-block" [ngStyle]="{color: m.color}">
                            {{m.series}}
                          </div>
                        </div>
                        <div>{{m.value | number:'1.0-2'}}</div>
                        <span>{{m?.extra?.sequence}}</span>
                      </div>
                    </div>
                  </div>
                </ng-template>

              </ngx-charts-line-chart>
            </div>

            <div class="d-flex justify-content-center">
              <app-reactive-input [criteria]="typeCriteria"></app-reactive-input>
            </div>
          </div>
        </div>

      </div>

      <div class="card-footer slim-card-edge"></div>
    </div>
  </div>
</div>
