.colorbox {
  width: 10px;
  height: 10px;
  border-radius: 0.1rem;
  display: inline-block;
  margin-right: 0.5rem;
  background-color: #fff;
}

.colorbox-sm {
  width: 10px;
  height: 10px;
}
.colorbox-md {
  width: 20px;
  height: 20px;
}
