<div *ngIf="id" class="row">
  <div class="col">
    <div class="card">
      <div class="card-header p-2">

        <app-spinner [ifValue]="item"></app-spinner>

        <div *ngIf="item" class="d-flex justify-content-between align-items-center">
          <app-item [item]="item" [options]="{clickable: false, showImg: true, imgSize: 'lg'}"></app-item>
          <app-reactive-input [criteria]="leagueCriteria"></app-reactive-input>
        </div>
      </div>

      <app-spinner [ifValue]="item"></app-spinner>

      <div *ngIf="item" class="card-body">

        <app-item-details [entryLeague$]="entryLeague$"></app-item-details>

        <hr/>

        <div class="row m-0">
          <div class="col">

            <div>
              <h4>Item price history</h4>
              <app-spinner [ifValue]="priceChartData.results"></app-spinner>
              <app-item-chart *ngIf="priceChartData.results" [data]="priceChartData" [entryLeague$]="entryLeague$"
                              class="d-flex w-100" style="height: 300px"></app-item-chart>
            </div>

            <div>
              <h4>Listed daily & currently on sale</h4>
              <app-spinner [ifValue]="countChartData.results"></app-spinner>
              <app-item-chart *ngIf="countChartData.results" [data]="countChartData" [entryLeague$]="entryLeague$"
                              class="d-flex w-100" style="height: 300px"></app-item-chart>
            </div>

          </div>
        </div>

      </div>

      <div class="card-footer slim-card-edge"></div>
    </div>
  </div>
</div>
