<div *ngIf="id" class="row">
  <div class="col">
    <div class="card">
      <div class="card-header p-2">

        <pw-spinner [ifValue]="item"></pw-spinner>

        <div *ngIf="item" class="d-flex justify-content-between align-items-center">
          <pw-item [item]="item" [options]="{clickable: false, showImg: true, imgSize: 'lg'}"></pw-item>
          <pw-reactive-input [criteria]="leagueCriteria"></pw-reactive-input>
        </div>
      </div>

      <pw-spinner [ifValue]="item"></pw-spinner>

      <div *ngIf="item" class="card-body">

        <pw-item-details [entryLeague$]="entryLeague$"></pw-item-details>

        <hr/>

        <div class="row m-0">
          <div class="col">

            <div>
              <h4>Item price history</h4>
              <pw-spinner [ifValue]="priceChartData.results"></pw-spinner>
              <pw-item-chart *ngIf="priceChartData.results" [data]="priceChartData" [entryLeague$]="entryLeague$"
                             class="d-flex w-100" style="height: 300px"></pw-item-chart>
            </div>

            <div>
              <h4>Listed daily & currently on sale</h4>
              <pw-spinner [ifValue]="countChartData.results"></pw-spinner>
              <pw-item-chart *ngIf="countChartData.results" [data]="countChartData" [entryLeague$]="entryLeague$"
                             class="d-flex w-100" style="height: 300px"></pw-item-chart>
            </div>

          </div>
        </div>

      </div>

      <div class="card-footer slim-card-edge"></div>
    </div>
  </div>
</div>
