<div class="card">
  <div class="card-header slim-card-edge"></div>

  <pw-spinner [ifValue]="sidebarService.sidebarItems$"></pw-spinner>

  <ul *ngIf="isVertical()" class="list-group list-group-flush">
    <li *ngFor="let element of sidebarService.sidebarItems$ | async" class="list-group-item pw-sidebar-item p-0"
        [class.active]="category === element.name">
      <a [routerLink]="['prices']" [queryParams]="{category: element.name}"
         [title]="element.display" class="d-flex align-items-center p-1 text-reset">
        <div class="img-container-sm d-flex justify-content-center align-items-center mr-2">
          <img [src]="element.icon" alt="..." class="img-fluid">
        </div>
        <span class="nowrap">{{element.display}}</span>
      </a>
    </li>
  </ul>

  <div *ngIf="isHorizontal()" class="row no-gutters">
    <div *ngFor="let element of sidebarService.sidebarItems$ | async" class="col-4 col-sm-3 col-md-2 pw-sidebar-item p-0"
         [class.active]="category === element.name">
      <a [routerLink]="['prices']" [queryParams]="{category: element.name}"
         [title]="element.display" class="d-flex align-items-center p-1 text-reset">
        <div class="img-container-sm d-flex justify-content-center align-items-center mr-2">
          <img [src]="element.icon" alt="..." class="img-fluid">
        </div>
        <span class="nowrap">{{element.display}}</span>
      </a>
    </div>
  </div>

  <div class="card-footer slim-card-edge"></div>
</div>
