.card {
  background-color: #333;
}

.pw-sidebar-item {
  background-color: #333;
}

.pw-sidebar-item.active {
  background-color: #3f3f3f;
  border: 0;
}

.pw-sidebar-item:hover {
  background-color: #444;
  color: #fff;
}

a {
  text-decoration: none;
}
