.sparkline-green {stroke: #4c9b4c}
.sparkline-red {stroke: #d12b33}
.sparkline-orange {stroke: #e36023}
.sparkline {fill: none}

.pricebox {
  display: flex;
  align-items: center;
}

.pricebox .sparkline {padding: 0 5px 0 0}

/* graph grid */
.ct-grids line {stroke: rgba(255,255,255,.2)}
/* graph labels*/
.ct-labels span {color: rgba(255,255,255,.5)}

/* line thickness */
.ct-line {stroke-width: .15em !important}
/* point size */
.ct-point {stroke-width: 4px !important}

/* a-series color override */
.ct-series.ct-series-a .ct-point,
.ct-series.ct-series-a .ct-line,
.ct-series.ct-series-a .ct-bar {
  stroke: #70ca5a;
}

/* f-series color override */
.ct-series.ct-series-e .ct-point,
.ct-series.ct-series-e .ct-line,
.ct-series.ct-series-e .ct-bar {
  stroke: #962e3e;
}

/* series text colors */
.ct-series-a-text {color: #70ca5a}
.ct-series-b-text {color: #f05b4f}
.ct-series-c-text {color: #f4c63d}
.ct-series-d-text {color: #d17905}
.ct-series-e-text {color: #962e3e}
.ct-series-f-text {color: #59922b}

.no-fill {
  fill: none;
}
